.services_container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
.services_container h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 3%;
  font-family: Gilroy, Tahoma, Arial;
}
.services_content_parent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.services_content {
  margin: 1px;
  width: 400px;
  height: 350px;
  background: center center no-repeat;
  background-size: cover;
  background-color: white;
  box-shadow: 0 0 0 180px rgb(0 0 0 / 50%) inset;
}

.services_content:hover {
  transition: 0.4s;
  box-shadow: none;
}

.element_title {
  color: white;
  font-size: 30px;
  font-family: Gilroy, Tahoma, Arial;
  width: 85%;
}

.btn a {
  text-decoration: none;
  color: white;
  font-family: Gilroy, Tahoma, Arial;
  font-size: 14px;
  font-weight: 400;
}

.btn {
  background-color: #a80757;
  border: none;
  border-radius: 2%;
  padding: 4px 16px;
  top: 5;
  transition: 0.4s;
  outline: none;
}
.btn:hover {
  background-color: #520a38;
}

.element_button {
  position: absolute;
  top: 285px;
}

.title_and_btn {
  position: relative;
  width: 80%;
  padding-left: 5%;
  padding-top: 5%;
}
.back_to_services {
  margin-bottom: 30px;
}
.back_to_services a {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-family: Gilroy, Tahoma, Arial;
}
.images_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.images_block img {
  width: 400px;
  height: 350px;
  margin: 1px;
}
.image_container {
  background: center center no-repeat;
  background-size: cover;
  background-color: white;
}
.iconArrow {
  margin-right: 10px;
}

.zapicNaUslugu {
  display: flex;
  justify-content: space-between;
  width: 99.5%;
  align-items: center;
  margin-bottom: 60px;
}
