.contacts {
  background: white;
  margin-top: 3%;
}

.street_and_we_contacts {
  margin-left: 2%;
}

.we_contacts {
  font-size: 36px;
  font-weight: 600;
  color: #232325;
  font-family: "Gilroy", Tahoma, Arial;
}

.street {
  font-family: "Gilroy", Tahoma, Arial;
  color: #555555;
  font-size: 34px;
  margin-top: 0.6%;
}

.share_block {
  width: 330px;
  float: right;
  margin-right: 2%;
}

.share_text {
  font-size: 20px;
}

.logo_block {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5%;
}

.vk_logo {
  width: 14%;
  height: 14%;
  cursor: pointer;
}

.facebook_logo {
  width: 13%;
  height: 13%;
  cursor: pointer;
}

.instagram_logo {
  width: 13%;
  height: 13%;
  cursor: pointer;
}

.twitter_logo {
  width: 13%;
  height: 13%;
  cursor: pointer;
}

.numbers_button_and_email {
  margin-left: 2%;
}

.numbers {
  font-size: 30px;
  font-weight: 500;
  color: #232325;
  padding: 25px 0;
  font-family: "Gilroy", Tahoma, Arial;
  font-weight: 400;
}

.ship_phone {
  background-color: blue;
  transition: all 0.2s ease-in 0s;
  color: white;
  border: 1px solid blue;
  cursor: pointer;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  margin-bottom: 3%;
  margin-top: 1%;
}

.ship_phone:hover {
  background-color: white;
  color: blue;
  transition: all 0.2s ease-in 0s;
  border: 1px solid blue;
  cursor: pointer;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  margin-bottom: 3%;
  margin-top: 1%;
}

.email {
  font-size: 20px;
}

.map {
  margin-top: 3%;
  width: 100%;
}

.set_call_block {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100%;
}

.call_block {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  top: calc(50% - 291px);
}

.call_form {
  width: 400px;
  float: left;
}

.form_head {
  height: 145px;
  background: url("https://tuning.sboxdemo.ru/assets/template/images/form_head.jpg")
    top center no-repeat;
  background-size: cover;
  text-align: center;
}

.form_head_title {
  font-size: 32px;
  font-weight: 600;
  color: #eaeced;
  padding: 25px 0 10px;
}

.form_head_text {
  font-size: 16px;
  color: #fff;
}

.form_body {
  background: #fff;
}

.form_body_data {
  width: 350px;
  margin: 0 auto;
}

.form_body_data .label {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #282828;
  display: inline-block;
}

.form_body span {
  color: #ff0000;
  font-size: 16px;
}

.form_body input {
  width: 100%;
  height: 60px;
  color: #000;
  font-family: "Gilroy";
  font-size: 20px;
  padding-left: 15px;
}

.ship_button {
  background: blue;
  border: 1px solid blue;
  transition: all 0.2s ease-in 0s;
  font-size: 16px;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  border-radius: 2%;
  cursor: pointer;
  color: #fff;
}

.ship_button:hover {
  background: white;
  border: 1px solid blue;
  transition: all 0.2s ease-in 0s;
  font-size: 16px;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  border-radius: 2%;
  cursor: pointer;
  color: blue;
}

.form_close img {
  display: block;
  width: 23px;
  height: 23px;
  margin-left: 25px;
  cursor: pointer;
  float: left;
}
