.car{
    position: relative;
    margin-top: 400px;
}
.car_service {
  width: 1290px;
  height: 770px;
  margin-left: 6%;
  margin-top: 6%;
  background: url("../../icon/car.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.service-info {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  position: absolute;
  top: -2%;
}
.link {
  text-decoration: none;
}
.service {
  border: 10px solid blue;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: white;
  position: relative;
  display: inline-block;
}
.service:hover .card {
  visibility: visible;
  opacity: 1;
  transition: all 220ms ease-in-out
}
.card {
  width: 370px;
  height: 250px;
  padding: 0 20px;
  box-shadow: 0 5px 25px rgb(149 149 149 / 73%);
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.antiGraviy {
  position: absolute;
  left: 19%;
  top: 55%;
}
.tonirovka {
  position: absolute;
  left: 65%;
  top: 8%;
}
.polirovka {
  position: absolute;
  left: 26%;
  top: 44%;
}
.led {
  position: absolute;
  left: 35%;
  top: 38%;
}
.ptf {
  position: absolute;
  left: 29%;
  top: 57%;
}
.detailing {
  position: absolute;
  left: 30%;
}
.dopOb{
  position: absolute;
  left: 75%;
  top: 20%;
}
.chehli{
  position: absolute;
  left: 58%;
  top: 12%;
}
.noiseless{
  position: absolute;
  left: 58%;
  top: 30%;
}
.kuzov{
    position: absolute;
    left: 20%;
    top: 22%;
}
.prot{
  position: absolute;
  left: 47%;
  top: 16%;
}
.title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
.text {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: gray;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 38%;
}
.more {
  background-color: blue;
  transition: all 0.3s ease-in 0s;
  color: white;
  border: 1px solid blue;
  cursor: pointer;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}
.more:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
.get_form {
  background-color: red;
  transition: all 0.2s ease-in 0s;
  color: white;
  border: 1px solid red;
  cursor: pointer;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}
.get_form:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.set_call_block1 {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
}

.call_block1 {
  width: 450px;
  left: 50%;
  margin-left: -225px;
  top: calc(50% - 291px);
  position: fixed;
}

.call_form1 {
  width: 400px;
  float: left;
}

.form_head1 {
  height: 145px;
  background: url("https://tuning.sboxdemo.ru/assets/template/images/form_head.jpg")
    top center no-repeat;
  background-size: cover;
  text-align: center;
}

.form_head_title1 {
  font-size: 32px;
  font-weight: 600;
  color: #eaeced;
  padding: 25px 0 10px;
}

.form_head_text1 {
  font-size: 16px;
  color: #fff;
}

.form_body1 {
  background: #fff;
}

.form_body_data1 {
  width: 350px;
  margin: 0 auto;
}

.form_body_data1 .label1 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #282828;
  display: inline-block;
}

.form_body1 span {
  color: #ff0000;
  font-size: 16px;
}

.form_body1 input {
  width: 100%;
  height: 60px;
  color: #000;
  font-family: "Gilroy";
  font-size: 20px;
  padding-left: 15px;
}

.ship_button1 {
  background: blue;
  border: 1px solid blue;
  transition: all 0.2s ease-in 0s;
  font-size: 16px;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  border-radius: 2%;
  cursor: pointer;
  color: #fff;
}

.ship_button1:hover {
  background: white;
  border: 1px solid blue;
  transition: all 0.2s ease-in 0s;
  font-size: 16px;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  border-radius: 2%;
  cursor: pointer;
  color: blue;
}

.form_close1 img {
  display: block;
  width: 23px;
  height: 23px;
  margin-left: 25px;
  cursor: pointer;
  float: left;
}
