.car_service{
    width: 1290px;
    height: 770px;
    margin-left: 6%;
    margin-top: 6%;
    background: url('../../icon/car.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.service-info{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 106%;
}
.link{
    text-decoration: none;
}
.blue_circle{
    border: 1px solid blue;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.antiGraviy{
    position: absolute;
    left: 10%;
}
