.learn-container {
   background: lightgray;
   padding-top: 75px;
   padding-bottom: 390px;
   position: relative;
}

.learn {
   width: 745px;
   text-align: justify;
   margin-left: 2%;
}

.learn-title {
   font-size: 32px;
   font-weight: 600;
   color: #282828;
   padding-top: 5px;
   padding-bottom: 45px;
}

.learn-description {
   font-size: 16px;
   color: #878787;
}

.learn-tags {
   font-size: 16px;
   font-weight: 500;
   color: #282828;
   padding-top: 50px;
}

.tag {
   width: 330px;
   float: left;
   height: 49px;
   color: #282828;
   width: 50%;
   text-decoration: none;
}

.tag:hover {
   color: #ca2626;
}

.learn-form {
   width: 400px;
   box-shadow: 0 0 1px 1px;
   background: #fff;
   top: 8%;
   left: 65%;
   float: right;
   position: absolute;
}

.form-head {
   height: 145px;
   background: url("https://tuning.sboxdemo.ru/assets/template/images/form_head.jpg") top center no-repeat;
   background-size: cover;
   text-align: center;
}

.head-title {
   font-size: 32px;
   font-weight: 600;
   color: #eaeced;
   padding: 25px 0 10px;
}

.head-text {
   font-size: 16px;
   color: #fff;
}

.form-body-data .label {
   width: 100%;
   padding-top: 20px;
   padding-bottom: 5px;
   font-size: 14px;
   color: #282828;
   display: inline-block;
}

.form-body span {
   color: #ff0000;
   font-size: 16px;
}

.form-body input {
   width: 100%;
   height: 60px;
   color: #000;
   font-family: "Gilroy";
   font-size: 20px;
   padding-left: 15px;
}

.form-end {
   width: 100%;
   text-align: center;
   padding-bottom: 20px;
   font-size: 14px;
   color: #282828;
}