.countup_block {
  color: white;
  position: absolute;
  bottom: 26%;
  left: 6%;
}
.countup_content {
  padding-left: 60px;
  padding-top: 60px;
  color: white;
  font-family: "Gilroy", Tahoma, Arial;
}
.countup_number_and_text {
  display: flex;
  align-items: center;
}
.countup_number {
  font-size: 68px;
  color: white;
  margin-right: 20px;
}
.countup_text {
  font-size: 28px;
}

/*///////////////////////////////////////*/

.benefits_block_parent {
  position: relative;
  margin-bottom: 80px;
}
.benefits_block {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: -12%;
  box-shadow: 0px 5px 29px 2px rgba(34, 60, 80, 0.2);
  height: 84vh;
}
.benefits_title {
  padding: 25px 25px 15px 25px;
}

/*/ //////////////////////////////////////*/

.trustUs {
  width: 100%;
  height: 680px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 80%;
}
.trustUs_content {
  width: 40%;
  padding-left: 60px;
  padding-top: 60px;
  color: white;
  font-family: "Gilroy", Tahoma, Arial;
}
.trustUs_title {
  font-weight: 600;
  font-size: 47px;
}
.trustUs_text {
  margin-top: 40px;
  font-size: 24px;
}
