.slider {
  height: 320px;
  margin: 10px 8px;
  box-shadow: 1px 5px 10px 0px rgba(34, 60, 80, 0.18);
  border-radius: 4px;
  background-color: white;
}

.slider_content {
  height: 80%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider_title {
  width: 60%;
  font-family: Gilroy, Tahoma, Arial;
  font-size: 28px;
  position: absolute;
  top: 25px;
}

.slider_text {
  position: absolute;
  top: 145px;
}

.slider_btn {
  background-color: rgb(219, 51, 51);
  border: none;
  border-radius: 2%;
  padding: 12px 36px;
  top: 5;
  transition: 0.4s;
  outline: none;
  position: absolute;
  top: 255px;
  color: white;
}
.slider_btn:hover {
  background-color: rgb(164, 27, 27);
}

.slider_btn a {
  text-decoration: none;
  font-family: Gilroy, Tahoma, Arial;
  font-size: 14px;
  font-weight: 400;
}
