.mainFooter {
   background: white;
   bottom: 0;
   width: 100%;
}

img {
   width: 50px;
   height: 50px;
}

.logo {
   width: 100px;
   height: 100px;
}
.logoText{
   font-size: 20px;
   margin-top: 1%;
}

.mainFooter {
   display: flex;
   margin: 30px 0;
}

.content {
   margin-left: 2%;
   width: 95%;
}

.mainInfo {
   display: flex;
   justify-content: space-around;
}

.links {
   display: flex;
   width: 15%;
   justify-content: space-between;
   margin-left: 40%;
   margin-top: 3%;
}

.map {
   color: gray;
   cursor: pointer;
   text-decoration: none;
   margin-left: 1%;
}

.map:hover {
   color: lightgray;
}

.phone {
   margin-left: 1%;
}

.adress {
   margin-left: 1%;
}

.tg {
   cursor: pointer;
}

.inst {
   cursor: pointer
}

.vk {
   cursor: pointer
}