.tab {
  font-size: 30px;
  font-weight: 600;
}

.sort_block {
  margin-top: 1.5%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 24%;
}

.sort_new {
  cursor: pointer;
}

.sort_new:hover {
  cursor: pointer;
  color: rgb(123, 123, 123);
}

.get_review_block {
  margin-top: 2%;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.rating-area {
  overflow: hidden;
  width: 230px;
  float: left;
  margin-left: -1.7%;
  margin-top: 1%;
}
.rating {
  font-size: 20px;
  color: gold;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: "★";
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}

.plus_text {
  height: 75px;
  width: 45%;
}

.plus {
  margin-bottom: 0.5%;
  word-break: break-all;
}

.minus_text {
  height: 75px;
  width: 45%;
}

.minus {
  margin-bottom: 0.5%;
  word-break: break-all;
}

.review_button {
  border: 1px solid #a80757;
  background-color: #a80757;
  transition: 0.3s;
  color: white;
  border-radius: 2%;
  width: 20%;
  height: 45px;
  margin-top: 1.5%;
}

.review_button:hover {
  border: 1px solid #a80757;
  background-color: transparent;
  transition: 0.3s;
  color: #a80757;
  border-radius: 3px;
  width: 20%;
  height: 45px;
  margin-top: 1.5%;
}

.token_error {
  color: red;
  font-size: 22px;
  margin-top: 2%;
}

.reviews_list_true {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.reviews_list_false {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 3%;
}

.review {
  display: flex;
  margin-bottom: 3%;
  margin-top: 3%;
}

.user_img_login img {
  width: 95px;
  height: 95px;
  border-radius: 6px;
}

.user_img_login {
  margin-right: 2%;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.user_name {
  text-align: center;
  margin-top: 2%;
}

.user_name_2 {
  font-size: 20px;
  margin-top: -4.6%;
}

.delete_review {
  color: red;
  cursor: pointer;
  text-align: center;
  margin-top: 8%;
  font-size: 22px;
}

@keyframes spin {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(36deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(72deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(108deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(144deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(180deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(216deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(252deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(288deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(324deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(360deg);
  }
}
@keyframes speed {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes strikes {
  from {
    left: 25px;
  }
  to {
    left: -80px;
    opacity: 0;
  }
}
@keyframes dots {
  from {
    width: 0px;
  }
  to {
    width: 15px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn,
.loading-window {
  animation: fadeIn 0.4s both;
}

.loading-window {
  background: transparent;
  border-radius: 6px;
  border: none;
  color: #424242;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  position: fixed;
  top: 50%;
  width: 300px;
  z-index: 99;
}
.loading-window .text {
  font-size: 16px;
  position: absolute;
  width: auto;
  top: 75%;
  left: 38%;
  margin: 0 auto;
}
.loading-window .dots {
  display: inline-block;
  width: 5px;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots 1.5s linear infinite;
  transition: 1;
}

.carr {
  position: absolute;
  width: 117px;
  height: 42px;
  left: 84px;
  top: 90px;
  color: #353535;
}
.carr .strike {
  position: absolute;
  width: 11px;
  height: 1px;
  background: #2e2e2e;
  animation: strikes 0.2s linear infinite;
  color: #353535;
}
.carr .strike2 {
  top: 11px;
  animation-delay: 0.05s;
}
.carr .strike3 {
  top: 22px;
  animation-delay: 0.1s;
}
.carr .strike4 {
  top: 33px;
  animation-delay: 0.15s;
}
.carr .strike5 {
  top: 44px;
  animation-delay: 0.2s;
}
.car-detail {
  position: absolute;
  display: block;
  background: #3f3f3f;
  animation: speed 0.5s linear infinite;
  color: #3f3f3f;
}
.car-detail.spoiler {
  width: 0;
  height: 0;
  top: 7px;
  background: none;
  border: 20px solid transparent;
  border-bottom: 8px solid #3f3f3f;
  border-left: 20px solid #3f3f3f;
  color: #353535;
}
.car-detail.back {
  height: 20px;
  width: 92px;
  top: 15px;
  left: 0px;
  color: #353535;
}
.car-detail.center {
  height: 35px;
  width: 75px;
  left: 12px;
  color: #3f3f3f;
  border-top-left-radius: 30px;
  border-top-right-radius: 45px 40px;
  border: 4px solid #3f3f3f;
  background: none;
  box-sizing: border-box;
}
.car-detail.center1 {
  height: 35px;
  width: 35px;
  left: 12px;
  border-top-left-radius: 30px;
}
.car-detail.front {
  height: 20px;
  width: 50px;
  top: 15px;
  left: 67px;
  border-top-right-radius: 50px 40px;
  border-bottom-right-radius: 10px;
}
.car-detail.wheel {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 20px;
  left: 12px;
  border: 3px solid #333;
  background: linear-gradient(
      45deg,
      transparent 45%,
      #ffffff 46%,
      #ffffff 54%,
      transparent 55%
    ),
    linear-gradient(
      -45deg,
      transparent 45%,
      #ffffff 46%,
      #ffffff 54%,
      transparent 55%
    ),
    linear-gradient(
      90deg,
      transparent 45%,
      #ffffff 46%,
      #ffffff 54%,
      transparent 55%
    ),
    linear-gradient(
      0deg,
      transparent 45%,
      #ffffff 46%,
      #ffffff 54%,
      transparent 55%
    ),
    radial-gradient(#2e2e2e 29%, transparent 30%, transparent 50%, #2e2e2e 51%),
    #333;
  animation-name: spin;
}
.car-detail.wheel2 {
  left: 82px;
}
